<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Sitecore.DataExchange.DataAccess.NoReferences" version="1.2.161212" targetFramework="net461" developmentDependency="true" />
  <package id="Sitecore.DataExchange.NoReferences" version="1.2.161212" targetFramework="net461" developmentDependency="true" />
  <package id="Sitecore.Services.Core.NoReferences" version="8.2.161221" targetFramework="net461" developmentDependency="true" />
</packages>