<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <settings>
      <setting name="PaaSPort.PipelineGroupName" value="PaaSPort" />
    </settings>
    <pipelines>
      <group groupName="PaaSPort" name="PaaSPort">
        <pipelines>
          <azure.getResourceGroups help="Pipelines should inherit from TheInjectables.Feature.PaaSPort.DXF.Pipelines.GetResourceGroups.BaseGetResourceGroupsProcessor" />
        </pipelines>
      </group>
    </pipelines>
    <paasport>
      <providers>
        <azure>
          <endpoints>
            <azureEndpoint>
              <serviceManager type="TheInjectables.Feature.PaaSPort.Azure.Client.DefaultAzureManager, TheInjectables.Feature.PaaSPort.Azure" singleInstance="true" />
            </azureEndpoint>
          </endpoints>
        </azure>
      </providers>
    </paasport>
  </sitecore>
</configuration>