<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <settings>
      <!--  SETTING: PAASPORT PIPELINE GROUP NAME
            Defines the name of the pipeline group in which PaaSPort Service Pipelines are registered. Developers may change
            the name of the pipeline group used to hold the PaaSPort Service pipelines, as desired.
            Default Value: PaaSPort 
      -->
      <setting name="PaaSPort.PipelineGroupName" value="PaaSPort" />
    </settings>
    <pipelines>
      <!-- GROUP: PAASPORT SERVICE PIPELINES 
           Pipeline group that contains the PaaSPort Service Pipelines (including custom PaaSPort Service Pipelines).  Note 
           that a pipeline group is used to help keep the PaaSPort Service Pipelines organized in the ShowConfig and to 
           separate them from the other Sitecore pipelines. -->
      <group groupName="PaaSPort" name="PaaSPort">
        <pipelines>
          <!--  GET RESOURCE GROUPS - PAASPORT SERVICE PIPELINE
                Service pipeline for retrieving resource groups from Azure 
          -->
          <getResourceGroups help="Pipelines should inherit from TheInjectables.Feature.PaaSPort.DXF.Pipelines.GetResourceGroups.BaseGetResourceGroupsProcessor">
            <processor type="TheInjectables.Feature.PaaSPort.Azure.Pipelines.GetResourceGroups.GetResourceGroupsProcessor, TheInjectables.Feature.PaaSPort.Azure" />
          </getResourceGroups>
        </pipelines>
      </group>
    </pipelines>
    <paasport>
      <azure>
        <!--  SERVICE MANAGER
              Defines the type of the service manager used to create and configure the connection to Azure services. This 
              type can (optionally) be different for each PaaSPort Visa. 
        -->
        <serviceManager type="TheInjectables.Feature.PaaSPort.Azure.Client.AzureServiceManager, TheInjectables.Feature.PaaSPort.Azure" singleInstance="true" />
        <!--  SERVICE PIPELINES
              This section defines settings for the PaaSPort Service Pipelines, and should be used to store custom service
              pipeline-specific settings along with service pipeline argument type settings.
        -->
        <servicePipelines>
          <!--  GET RESOURCE GROUPS - SERVICE PIPELINE SETTINGS
                Contains settings for the <getResourceGroups> PaaSPort service Pipeline
          -->
          <getResourceGroups>
            <!--  SERVICE PIPELINE ARGS
                  Defines the type to be used for the pipeline arguments passed to the <getResourceGroup> pipeline
            -->
            <servicePipelineArgs type="TheInjectables.Feature.PaaSPort.Azure.Pipelines.GetResourceGroups.GetResourceGroupsArgs, TheInjectables.Feature.PaaSPort.Azure" />
          </getResourceGroups>
        </servicePipelines>
      </azure>
    </paasport>
  </sitecore>
</configuration>