<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <settings>
      <setting name="PaaSPort.PipelineGroupName" value="PaaSPort" />
    </settings>
    <pipelines>
      <group groupName="PaaSPort" name="PaaSPort">
        <pipelines>
          <azure.getResourceGroups help="Pipelines should inherit from TheInjectables.Feature.PaaSPort.DXF.Pipelines.GetResourceGroups.BaseGetResourceGroupsProcessor">
            <processor type="TheInjectables.Feature.PaaSPort.Azure.Pipelines.GetResourceGroups.GetResourceGroupsProcessor, TheInjectables.Feature.PaaSPort.Azure" />
          </azure.getResourceGroups>
        </pipelines>
      </group>
    </pipelines>
    <paasport>
      <azure>
        <serviceManager type="TheInjectables.Feature.PaaSPort.Azure.Client.AzureServiceManager, TheInjectables.Feature.PaaSPort.Azure" singleInstance="true" />
        <servicePipelineArgs type="TheInjectables.Feature.PaaSPort.Azure.Pipelines.GetResourceGroups.GetResourceGroupsArgs, TheInjectables.Feature.PaaSPort.Azure" />
      </azure>
    </paasport>
  </sitecore>
</configuration>